{% extends 'learn_app/base.html' %}
{% load static %}
{% load template_tags %}
{% block content %}
        <div class="row">
            {% for category in categories %}
                <div class="col-sm-4">
                    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                        <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.title }}</h5>
                            <p class="card-text">{{ category.preview }}</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal_{{ category.id }}">
                                Show detail
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal_{{ category.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">{{ category.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.title }}">
                                {{ category.description|linebreaks }}
                                <div class="shadow p-3 mb-5 bg-white rounded">
                                    <p>Content list:</p>
                                    <ul class="list-group">
                                        {% for content in contents|contentByCategory:category %}
                                            <li class="list-group-item">{{ content }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                {% if user.is_authenticated %}
                                    {% if thisUser.is_subscriber %}
                                        <a href="{% url 'home_by_category' category.id %}">
                                            <button type="button" class="btn btn-primary">
                                                Watch Content
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'sub_list' %}">
                                            <button type="button" class="btn btn-primary">
                                                Subscribe
                                            </button>
                                        </a>
                                    {% endif %}
                                {% else %}
                                <a href="{% url 'sign_up' %}">
                                    <button type="button" class="btn btn-primary">
                                        Sign Up
                                    </button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock content %}